@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400i");

:root {
  --color-primary: #ff5851;
  --color-secundary: #f8f8f8;
  --color-dark: #1c1b20;
  --color-yeloow: #f3c130;
  --color-blue: #414a6b;
  --color-gray: #d8d8e8;
  --color-gray2: #b49a85;
}
@font-face {
  font-family: "Gilroy Bold";
  src: url(../font/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "Gilroy Light";
  src: url(../font/Gilroy-Light.otf);
}
/* @font-face{
    font-family: "Gilroy Black";
    src: url(../font/Gilroy-Black.ttf);
}
@font-face{
    font-family: "Gilroy Heavy";
    src: url(../font/Gilroy-Heavy.ttf);
}
@font-face{
    font-family: "Gilroy Extrabold";
    src: url(../font/Gilroy-ExtraBold.otf);
}
@font-face{
    font-family: "Gilroy Medium";
    src: url(../font/Gilroy-Medium.ttf);
}
@font-face{
    font-family: "Gilroy Regular";
    src: url(../font/Gilroy-Regular.ttf);
}
@font-face{
    font-family: "Gilroy Semibold";
    src: url(../font/Gilroy-SemiBold.ttf);
} */

.text__italic {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

.font__italic {
  font-family: "Libre Baskerville", serif;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 300;
}
.font__italic__paragraph {
  font-family: "Libre Baskerville", serif;
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 300;
}
.font__phar {
  font-family: "Gilroy Light", sans-serif;
  font-size: 3.2rem;
}
.font__titles {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 4.7rem;
}
.font__bold {
  font-family: "Gilroy Bold", sans-serif;
}
.text__drink {
  color: var(--color-primary);
}
.text__white {
  color: var(--color-secundary);
}
.text_dark {
  color: var(--color-dark);
}

/* styled globals  */
* {
  padding: 0;
  margin: 0;
}
body {
  /* background: #f8f8f8; */
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
.padding__custom {
  padding: 20vh 165px 20vh 20%;
}

.border__top,
.border__bottom,
.border__left,
.border__right {
  position: fixed;
  background: #fff;
  z-index: 9;
}
.menuOpen {
  overflow: hidden;
}
.menuOpen .borders > * {
  transform: scale(2);
}
.borders > * {
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.border__top {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  transform-origin: top center;
}
.border__bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  transform-origin: bottom center;
}
.border__left {
  top: 0;
  left: 0;
  height: 100%;
  width: 40px;
  transform-origin: left center;
}
.border__right {
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  transform-origin: right center;
}
.container__complete {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
/* styled container header page  */
.container__header {
  display: flex;
  background: var(--color-primary);
  position: relative;
}
.container__header.expanded.expanded-height {
  height: 200vh !important;
}
.container__header.expanded .header__right {
  transform: translateX(100%);
}

.header__left {
  transition: all 1000ms cubic-bezier(0.7, 0, 0.3, 1);
}
.header__right {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: var(--color-secundary);
  transition: all 1000ms cubic-bezier(0.7, 0, 0.3, 1) 50ms;
  transform: translateX(0%);
}

/* container page links title social media  */

.header {
  display: flex;
  padding: 0 40px;
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
}
.menuOpen .header {
  position: inherit;
}
.header > ._head {
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  align-items: center;
  z-index: 9;
}
.title__page {
  background: #3cd;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;

  position: fixed;
  top: 0;
  z-index: 1000;
  display: inline-block;
  padding: 0px;
  height: 40px;
  line-height: 40px;
  left: 40px;
  margin: 0px;
  color: inherit;
  white-space: nowrap;
  float: left;
}
.title__page .logo {
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.menuOpen .title__page {
  transform: translate(calc(16vw - 60px), 100%);
}
.toggle__language {
  list-style: none;
  display: flex;
  flex-direction: row;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 40px;
}
.toggle__language li {
  margin: 0 5px;
  font-size: 12px;
}
.toggle__language li a {
  text-decoration: none;
  color: #1c1b20;
  text-transform: uppercase;
  font-weight: 700;
}
.toggle__language li a.link__active {
  color: #c2c2c2;
}
.menuOpen .toggle__language {
  transform: translate(-40px, 40px);
}
.header__middle {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}
.menuOpen .header__middle {
  padding: 0px 30px;
}
.menu__toggle {
  display: flex;
  align-items: center;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  top: 50%;
  left: 40px;
  right: inherit;
  margin-top: -20px;
  height: 40px;
  width: 40px;
  position: fixed;
  margin-left: -10px;
  text-align: center;
  font-size: 0px;
  z-index: 100;
  cursor: pointer;
  z-index: 1000;
}
.menuOpen .menu__toggle {
  transform: translateX(60px);
  width: 20px;
  z-index: 15;
}
.menu__toggle:hover {
  margin-left: 5px;
}
.menuOpen .menu__toggle {
  margin-left: 0;
}
.menu__toggle:hover > .icon::before {
  width: 20px;
}
.menu__toggle:hover > .icon {
  width: 32px;
}
.menu__toggle:hover > .icon::after {
  width: 17px;
}
.menu__toggle > .icon {
  height: 2px;
  width: 20px;
  background: #000;
  position: relative;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.icon::before {
  content: "";
  height: 2px;
  width: 13px;
  background: #000;
  margin: 5px 0;
  right: 0;
  position: absolute;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.menuOpen .icon::before {
  transform: rotate(90deg);
  width: 20px;
  float: right;
  clear: right;
  height: 2px;
  background: #1c1b20;
  margin: 0;
}
.icon::after {
  content: "";
  height: 2px;
  width: 16px;
  background: #000;
  margin: -5px 0;
  right: 0;
  position: absolute;
  transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.menuOpen .icon {
  width: 20px !important;
  margin-top: -2px;
  transform: rotate(-45deg);
}
.menuOpen .icon::after {
  display: none;
}
.text__menu {
  transform: rotate(-90deg);
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  position: absolute;
  width: 100%;
  right: -25px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: var(--color-dark);
}
.menuOpen .text__menu {
  display: none;
}
.text__menu span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.menu__toggle:hover .text__menu span:nth-child(1) {
  transform: translateY(-5px);
}
.menu__toggle:hover .text__menu span:nth-child(2) {
  transform: translateY(5px);
}
.menu__toggle:hover .text__menu span:nth-child(3) {
  transform: translateY(-2px);
}
.menu__toggle:hover .text__menu span:nth-child(4) {
  transform: translateY(3px);
}
.header__social__media {
  display: flex;
  text-align: center;
  flex-direction: column;
  list-style: none;
  font-size: 0.8rem;

  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 10px;
  z-index: 500;
  transform: translateY(-50%);
}
.menuOpen .header__social__media {
  right: 30px;
}
.header__social__media li {
  padding: 4px;
}
.header__social__media li a {
  text-decoration: none;
  color: #1c1b20;
  text-transform: uppercase;
}
.header__social__media li a > .fa {
  font-weight: 900;
}

.menu {
  position: fixed;
  top: 0;
  left: 40px;
  right: 80px;
  height: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  background: #fff;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms,
    left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.menuOpen .menu {
  transform: translateX(0%) !important;
  left: 40px;
  right: 20%;
}
.menu .container__menu {
  padding-left: calc(16vw - 60px);
  height: 360px;
}

/* list page nav menu  */

.menu__nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 60px;
  margin-left: -10px;
}
.nav__item a {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--color-dark);
  line-height: 1.5;
  position: relative;
}
.nav__item > a > .mask {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
a > .mask {
  padding: 0px;
  line-height: 1.3;
}
.mask > span {
  letter-spacing: -1px;
  padding: 0 10px;
}
.nav__item > a > .mask span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 15px;
  background: var(--color-primary);
  opacity: 0.5;
  z-index: -1;
  transform-origin: left center;
  transform: scaleX(0) translateY(-50%);
  transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.nav__item:nth-child(2) > a > .mask span::before {
  background: var(--color-yeloow);
}
.nav__item:nth-child(3) > a > .mask span::before {
  background: var(--color-blue);
}
.nav__item:nth-child(4) > a > .mask span::before {
  background: var(--color-gray);
}
.nav__item:nth-child(5) > a > .mask span::before {
  background: var(--color-gray2);
}

.nav__item > a:hover .mask > span::before {
  transform: scaleX(1) translateY(-50%);
}

/* contact menu  */
.menu__contact {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy Light", sans-serif;
  margin: 40px 0;
  font-size: 13px;
}
.menu__contact > * {
  font-size: 0.9em;
  line-height: 1.6;
  color: #1c1b20;
  margin: 0px;
  font-weight: 500;
  text-decoration: none;
}
.contact__phone {
  font-weight: 900;
  font-size: 1.1em;
  font-family: "Gilroy Bold", sans-serif;
}
.contact__email {
  font-weight: 900;
  font-size: 1.1em;
  font-family: "Gilroy Bold", sans-serif;
}
.contact__phone:hover,
.contact__email:hover {
  text-decoration: underline;
}

.menu__footer {
  display: flex;
  justify-content: space-between;
  width: 55vw;
}

.send__email > span,
.suscribe > span {
  display: block;
}

.suscribe > .font__bold,
.send__email > .font__bold {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.send__email > span:nth-child(2) {
  font-size: 0.8rem;
}
.suscribe > span:nth-child(1) {
  font-size: 0.8rem;
}

.menu__footer .send__email,
.menu__footer .suscribe {
  text-decoration: none;
  color: var(--color-dark);
  position: relative;
}

.menuOpen .menu__color {
  opacity: 0.95;
}
.menu__color {
  background: #ff5851;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  z-index: 8;
  opacity: 0;
  pointer-events: none;
}
.menu__hover {
}
.menu__hover .menu {
  transform: translateX(-95%);
}

.padding__big {
  padding: 20vh 165px 20vh 20%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  /* transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms; */
}
.quote__paragraph {
  margin-bottom: 25px;
  display: inline-flex;
}
.icon__wave__low {
  display: block;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  position: relative;
}
.icon__wave__low > div {
  position: absolute;
  top: 0px;
  right: 0;
  background: #ff5851;
  width: 100%;
  height: 100%;
}
.icon__wave__low > div.animeIcon {
  /* animation: leftToRight 1s linear forwards; */
}
.icon__wave__low svg {
  width: 25px;
  height: 5px;
}
.icon__wave__low svg > * {
  fill: none;
  stroke: var(--color-dark);
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke-dasharray: 0px, 0px;
}

.text__ref {
  margin-left: 10px;
  background: #ff5851;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.text__primary,
.text__secundary {
  font-family: "Gilroy Bold", sans-serif;
}

.text__primary {
  font-size: 1.5rem;
  overflow: hidden;
}
.text__primary strong {
  display: inline-block;
  transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1);
}
.text__secundary {
  font-size: 1.5rem;
}
.text__secundary strong {
  display: inline-block;
}
.text__secundary span {
  display: block;
  overflow: hidden;
}

.anime__fadein {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadein;
  display: inline-block;
}
.anime__fadeinTwo {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadein;
  display: inline-block;
  animation-delay: 300ms;
}
.anime__fadeinThree {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadein;
  display: inline-block;
  animation-delay: 500ms;
}
.anime__fadeleft {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeleft;
  display: inline-block;
}
.anime__leftToRight {
  animation-duration: 2s;
  animation-name: leftToRight;
  display: inline-block;
}

@keyframes leftToRight {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

[data-aos="animeIcon"] {
  width: 100%;
}
[data-aos="animeIcon"].aos-animate {
  width: 0%;
}
[data-aos="fade-right"] {
  transform: translate3d(-20px, 0, 0) !important;
}
[data-aos="fade-right"].aos-animate {
  transform: translate3d(0, 0, 0) !important;
}

.section__digital img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 7;
}

.send__email,
.suscribe {
  color: #1c1b20;
  text-decoration: none;
  position: relative;
}

.arrow__right {
  display: block;
  position: absolute;
  width: 40px;
  top: 50%;
  right: 100%;
  margin-right: 80px;
  transform: translateY(-50%);
  transition: all 600ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.send__email:hover .arrow__right {
  transform: translate(40px, -50%);
  width: 100px;
}

.arrow__right .inner {
  background: #1c1b20;
  width: 100%;
  height: 2px;
  display: block;
  float: right;
  transition: width 600ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.send__email:hover .arrow__right .inner {
  width: 40px;
}
.arrow__right svg {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(2px, -50%);
}

/* styled footer  */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.margin__bottom__end {
  margin-bottom: 200px;
}
.footer .padding__custom {
  display: flex;
  align-items: center;
  height: 30vh;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  justify-content: space-between;
}

.credits {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.logo__company {
  height: 40px;
  display: flex;
  flex-direction: column;
}
.logo__company > img {
  height: 50%;
  display: block;
  margin: 0 auto 8px;
  margin-right: 0;
}
.credit__link {
  display: block;
  color: #b4b4b4;
  font-size: 0.6rem;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.logo__company.credit__link:hover {
  text-decoration: none;
}
.credit__link:hover {
  text-decoration: underline;
}
